.hangar {
  padding-top: 1rem;
}

.react-grid-item {
  text-align: center;
  background: gray;
}

.form-title {
  padding-right: 0.5rem;
}

.hangar-navb {
  margin-bottom: 1rem;
}

.hangar-navb > * {
  margin-right: 1rem;
}
